@import "./../../../variables";

nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $top-nav-height;
    background-color: $primary-color;

    h1{
        text-align: center;
        margin: 1rem 1.5rem;
        color: white;    
    }

    .language-button{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: white;
    }
}